@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  background-color: #212426;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

.main {
  margin-top: 0.2em;
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: 100px 200px;
  gap: 30px;
}

.sub {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.search {
  align-self: center;
}

h1 {
  grid-column: span 2;
  text-align: center;
  color: #f9d3b4;
}

h2 {
  color: #f9d3b4;
  display: inline;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

img {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
